{{extend 'layout.html'}}

<p>This website serves as a public institute repository of academic research 
publications of the institute.</p>
<br />
<p><b>Searching Content:</b> The content is easily searchable by centre (subject-area / 
department), content-type (book, thesis, etc.), author and date range. 
By default, for public visitors, the homepage shows the institute 
publications of the current year (may include last year as well, if 
this year has just started and does not have much content yet). The 
default view shows books, peer-reviewed publications 
(journal/conference) and technical reports of the institute. It does 
not show theses, which may be seen/searched separately.</p>
<br />
<p><b>Adding Content:</b> The website enables designated institute admin 
personnel and/or faculty members to add content. The content consists 
of research publications, each of which can be either a book, journal 
paper, conference paper, technical report, or a PhD or master's 
thesis. Each publication consists of one or more authors. A thesis may 
have one or more advisors.</p>
<br />
<p><b>Moderation:</b> The designated admin/faculty may add more authors into the system. 
For ease and efficiency, the institute may designate several admin, for 
e.g. one per department, and several or all faculty members to add 
content to the repository. To prevent arbitrary content from being 
posted, the institute may designate one or a few members as 
<i>moderators</i>. One admin person may serve as a thesis moderator, 
who will approve theses that are uploaded by other admin. A 
faculty-in-charge may serve as a publications moderator to ensure that 
technical reports uploaded meet a minimum standard set by the 
institute.</p>
<br />
<p><b>DiscloseNet:</b> This website is based on <i>DiscloseNet</i>, an 
open-source software available <a target="_blank" 
href="https://gitlab.com/vikrampudi/DiscloseNet">here at 
gitlab.com</a>, and is based on <a target="_blank" 
href="https://www.python.org/">python</a> and <a target="_blank" 
href="http://web2py.com/">web2py</a>. DiscloseNet is released under the GPLv3 open source 
license. It may be freely distributed and modified, provided this 
notice is not modified or removed, and under the terms of the GNU 
General Public License as published by the Free Software Foundation, 
either version 3 of the License, or (at your option) any later 
version.</p>
<p>DiscloseNet is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of 
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the <a 
target="_blank" href="http://www.gnu.org/licenses/">GNU General Public 
License</a> for more details. The authors of DiscloseNet are not 
legally responsible for the hosting of this software on any domain, or 
for the material uploaded by users. </p>
