{{extend 'layout.html'}}
{{include 'default/show_pub.html'}}

<h2>Your Pending Publications</h2>
<br />

{{pubs_present = False}}

{{types = range(len(typenames))}}
{{for t in types:}}
    {{if t in pubs and pubs[t]:}}
        {{pubs_present = True}}
        {{even = True}}
        {{if t==1:}}<h2>Papers</h2>
        {{elif t != 2 and t != 3:}}<h2>{{=typenames[t]}}</h2>
        {{pass}}
        <ol>
        {{for i in pubs[t]:}}
        {{if even:}}<li class="alt1">{{else:}}<li class="alt2">{{pass}}
        {{even = not even}}
           {{if t==1:}}
              {{if i.has_key('journal'):}}
                  {{t1=1}}
              {{elif i.has_key('conference'):}}
                  {{t1=2}}
              {{else:}}
                  {{t1=3}}
              {{pass}}
              {{show_pub(i,t1)}}
           {{else:}}
              {{show_pub(i,t)}}
           {{pass}}
        </li>
        {{pass}}
        </ol>
    {{pass}}
{{pass}}

{{if not pubs_present:}}
<h2>None.</h2>
{{pass}}
